{"openapi":"3.1.0","info":{"title":"DietLenz Application API","description":"API documentation for dietLenz mobile application backend.","version":"1.0.0"},"servers":[{"url":"https://diet-lenz-stagingapi-d3mbl.ondigitalocean.app","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/api/v1/users/profile":{"get":{"tags":["user-controller"],"operationId":"getUserProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}}},"put":{"tags":["user-controller"],"operationId":"updateUserProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}}}},"/api/v1/users/profile-photo":{"put":{"tags":["user-controller"],"operationId":"updateUserProfilePhoto","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}},"required":["image"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImageUploadResponse"}}}}}}},"/api/v1/users/notifications/all":{"get":{"tags":["user-controller"],"operationId":"getUserNotifications","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModelUserNotification"}}}}}},"put":{"tags":["user-controller"],"operationId":"markNotificationAsRead","parameters":[{"name":"notificationId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/food/log-meal/{id}":{"put":{"tags":["food-logging-controller"],"operationId":"editMealLog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogMealRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MealLogResponseDto"}}}}}},"delete":{"tags":["food-logging-controller"],"operationId":"deleteMealLog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/food/favorites/{recipeId}/toggle":{"put":{"tags":["food-logging-controller"],"operationId":"toggleFavorite","parameters":[{"name":"recipeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/users/weight":{"post":{"tags":["user-controller"],"operationId":"logWeight","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WeightLogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeightEntry"}}}}}}},"/api/v1/users/password/change":{"post":{"tags":["user-controller"],"operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordChangedResponse"}}}}}}},"/api/v1/users/onboarding-survey":{"post":{"tags":["user-controller"],"operationId":"submitOnboardingSurvey","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingSurveyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingSurveyResponse"}}}}}}},"/api/v1/subscriptions/{subscriptionId}/cancel":{"post":{"tags":["subscription-controller"],"operationId":"cancelSubscription","parameters":[{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/subscriptions/verify/revenuecat":{"post":{"tags":["subscription-controller"],"operationId":"verifyRevenueCatSubscription","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSubscriptionDto"}}}}}}},"/api/v1/subscriptions/verify/google":{"post":{"tags":["subscription-controller"],"operationId":"verifyGoogleSubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleSubscriptionVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSubscriptionDto"}}}}}}},"/api/v1/subscriptions/verify/apple":{"post":{"tags":["subscription-controller"],"operationId":"verifyAppleSubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleSubscriptionVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSubscriptionDto"}}}}}}},"/api/v1/subscriptions/simulate-purchase":{"post":{"tags":["subscription-controller"],"operationId":"simulatePurchase","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/referrals/apply":{"post":{"tags":["subscription-controller"],"operationId":"applyReferral","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralApplyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/recipe/suggest":{"post":{"tags":["recipe-controllers"],"operationId":"suggestAndAnalyze","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}},"required":["image"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SuggestedFoodAnalysis"}}}}}}}},"/api/v1/recipe/re-analyze":{"post":{"tags":["recipe-controllers"],"operationId":"reAnalyzeRecipe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FoodAnalysisDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FoodAnalysisDto"}}}}}}},"/api/v1/recipe/analyze":{"post":{"tags":["recipe-controllers"],"operationId":"analyzeRecipe","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}},"required":["image"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FoodAnalysisDto"}}}}}}},"/api/v1/recipe/analyze-label":{"post":{"tags":["recipe-controllers"],"operationId":"analyzeNutritionLabel","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}},"required":["image"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FoodAnalysisDto"}}}}}}},"/api/v1/onboarding/projection":{"post":{"tags":["onboarding-calculator-controller"],"operationId":"calculateProjection","parameters":[{"name":"bucket","in":"query","required":false,"schema":{"type":"string","default":"WEEKLY"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MacroPreviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectionResponse"}}}}}}},"/api/v1/onboarding/plan":{"post":{"tags":["onboarding-calculator-controller"],"operationId":"calculatePlan","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MacroPreviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MacroPreviewResponse"}}}}}}},"/api/v1/food/log-meal":{"post":{"tags":["food-logging-controller"],"operationId":"logMeal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogMealRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MealLogResponseDto"}}}}}}},"/api/v1/auth/resend-otp":{"post":{"tags":["auth-controller"],"operationId":"requestOtpResend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/auth/register":{"post":{"tags":["auth-controller"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["auth-controller"],"operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/auth/password/reset":{"post":{"tags":["auth-controller"],"operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/auth/password/forgot":{"post":{"tags":["auth-controller"],"operationId":"requestPasswordReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/auth/google":{"post":{"tags":["auth-controller"],"operationId":"googleLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/auth/authenticate":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginWithDeviceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/auth/apple":{"post":{"tags":["auth-controller"],"operationId":"appleLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/users/weight/progress":{"get":{"tags":["user-controller"],"operationId":"getWeightProgress","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string","default":"DAILY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeightProgressResponse"}}}}}}},"/api/v1/users/projection":{"get":{"tags":["user-controller"],"operationId":"getProjection","parameters":[{"name":"bucket","in":"query","required":false,"schema":{"type":"string","default":"WEEKLY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectionResponse"}}}}}}},"/api/v1/users/progress/macro-composition":{"get":{"tags":["user-controller"],"operationId":"getMacroComposition","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string","default":"DAILY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MacroCompositionResponse"}}}}}}},"/api/v1/users/progress/energy-balance":{"get":{"tags":["user-controller"],"operationId":"getEnergyBalance","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string","default":"DAILY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnergyBalanceResponse"}}}}}}},"/api/v1/users/progress/calorie-tracker":{"get":{"tags":["user-controller"],"operationId":"getCalorieTracker","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string","default":"DAILY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalorieTrackerResponse"}}}}}}},"/api/v1/users/me/subscription":{"get":{"tags":["subscription-controller"],"operationId":"getMySubscription","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSubscriptionStatusResponse"}}}}}}},"/api/v1/subscriptions/pricing":{"get":{"tags":["subscription-controller"],"operationId":"getPricing","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PricingResponse"}}}}}}},"/api/v1/referrals/history":{"get":{"tags":["subscription-controller"],"operationId":"getReferralHistory","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferralHistoryResponse"}}}}}}}},"/api/v1/referrals/earnings":{"get":{"tags":["subscription-controller"],"operationId":"getReferralEarnings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferralEarningsResponse"}}}}}}},"/api/v1/recipe/search":{"get":{"tags":["recipe-controllers"],"operationId":"searchFood","parameters":[{"name":"query","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FoodAnalysisDto"}}}}}}}},"/api/v1/recipe/macro-targets":{"get":{"tags":["recipe-controllers"],"operationId":"getMacroTargets","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["BALANCED","HIGH_PROTEIN","LOW_CARB","LOW_FAT","HIGH_FIBER"]}}}}}}}},"/api/v1/recipe/hello":{"get":{"tags":["recipe-controllers"],"operationId":"hello","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/recipe/health":{"get":{"tags":["recipe-controllers"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/recipe/goals":{"get":{"tags":["recipe-controllers"],"operationId":"getGoals","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["LOSE_WEIGHT","MAINTAIN_WEIGHT","GAIN_WEIGHT","NOTHING"]}}}}}}}},"/api/v1/recipe/dietary-preferences":{"get":{"tags":["recipe-controllers"],"operationId":"getDietaryPreferences","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["NONE","VEGETARIAN","VEGAN","KETO","PALEO","GLUTEN_FREE","DAIRY_FREE"]}}}}}}}},"/api/v1/recipe/analyze-barcode/{barcode}":{"get":{"tags":["recipe-controllers"],"operationId":"analyzeByBarcode","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FoodAnalysisDto"}}}}}}},"/api/v1/recipe/activity-level":{"get":{"tags":["recipe-controllers"],"operationId":"getActivityLevels","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["SEDENTARY","LIGHTLY_ACTIVE","MODERATELY_ACTIVE","VERY_ACTIVE","EXTRA_ACTIVE"]}}}}}}}},"/api/v1/plans":{"get":{"tags":["subscription-controller"],"operationId":"getPlans","parameters":[{"name":"country","in":"query","required":false,"schema":{"type":"string","default":"US"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionPlanDto"}}}}}}}},"/api/v1/food/trends/weekly":{"get":{"tags":["food-logging-controller"],"operationId":"getWeeklyTrend","parameters":[{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeeklyTrendDto"}}}}}}},"/api/v1/food/streaks":{"get":{"tags":["food-logging-controller"],"operationId":"getCurrentStreak","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreakInfoDto"}}}}}}},"/api/v1/food/recipes":{"get":{"tags":["food-logging-controller"],"operationId":"getUserRecipes","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecipeResponseDto"}}}}}}}},"/api/v1/food/recipes/{recipeId}":{"get":{"tags":["food-logging-controller"],"operationId":"getRecipeById","parameters":[{"name":"recipeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RecipeResponseDto"}}}}}}},"/api/v1/food/recipes/search/by-ingredient":{"get":{"tags":["food-logging-controller"],"operationId":"searchByIngredient","parameters":[{"name":"ingredient","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecipeResponseDto"}}}}}}}},"/api/v1/food/recipes/recommendations":{"get":{"tags":["food-logging-controller"],"operationId":"getRecommendations","parameters":[{"name":"macroTarget","in":"query","required":false,"schema":{"type":"string","default":"BALANCED","enum":["BALANCED","HIGH_PROTEIN","LOW_CARB","LOW_FAT","HIGH_FIBER"]}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecipeResponseDto"}}}}}}}},"/api/v1/food/recipes/ingredients/stats":{"get":{"tags":["food-logging-controller"],"operationId":"getIngredientStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}}}}}},"/api/v1/food/meal-logs":{"get":{"tags":["food-logging-controller"],"operationId":"getMealLogs","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModelMealLogResponseDto"}}}}}}},"/api/v1/food/favorites":{"get":{"tags":["food-logging-controller"],"operationId":"getFavorites","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteRecipeResponseDto"}}}}}}}},"/api/v1/food/dashboard":{"get":{"tags":["food-logging-controller"],"operationId":"getDashboard","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardResponseDto"}}}}}}},"/api/v1/auth/verify-email":{"get":{"tags":["auth-controller"],"operationId":"verifyEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"otp","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/users/me":{"delete":{"tags":["user-controller"],"operationId":"deleteAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"ProfileRequestDto":{"type":"object","properties":{"gender":{"type":"string","enum":["MALE","FEMALE","OTHER"]},"currentWeight":{"type":"integer","format":"int32"},"currentWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"height":{"type":"integer","format":"int32"},"heightUnit":{"type":"string","enum":["CM","FT"]},"dateOfBirth":{"type":"string","format":"date"},"desiredGoal":{"type":"string","enum":["LOSE_WEIGHT","MAINTAIN_WEIGHT","GAIN_WEIGHT","NOTHING"]},"desiredWeight":{"type":"integer","format":"int32"},"desiredWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"dietaryPreference":{"type":"string","enum":["NONE","VEGETARIAN","VEGAN","KETO","PALEO","GLUTEN_FREE","DAIRY_FREE"]},"activityLevel":{"type":"string","enum":["SEDENTARY","LIGHTLY_ACTIVE","MODERATELY_ACTIVE","VERY_ACTIVE","EXTRA_ACTIVE"]},"macroTarget":{"type":"string","enum":["BALANCED","HIGH_PROTEIN","LOW_CARB","LOW_FAT","HIGH_FIBER"]},"allergies":{"type":"array","items":{"type":"string"}},"country":{"type":"string"},"timeZone":{"type":"string"}},"required":["dateOfBirth","gender"]},"HealthSyncSettings":{"type":"object","properties":{"readSteps":{"type":"boolean"},"readActiveCalories":{"type":"boolean"},"readWeight":{"type":"boolean"},"readHeartRate":{"type":"boolean"},"readSleep":{"type":"boolean"},"writeDietaryEnergy":{"type":"boolean"},"writeProtein":{"type":"boolean"},"writeCarbohydrate":{"type":"boolean"},"writeFat":{"type":"boolean"}}},"MacroResult":{"type":"object","properties":{"totalCalories":{"type":"number","format":"double"},"proteinGrams":{"type":"number","format":"double"},"carbsGrams":{"type":"number","format":"double"},"fatGrams":{"type":"number","format":"double"},"fiberGrams":{"type":"number","format":"double"}}},"UserProfile":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"height":{"type":"number"},"weight":{"type":"number"},"age":{"type":"integer","format":"int32"},"activityLevel":{"type":"string","enum":["SEDENTARY","LIGHTLY_ACTIVE","MODERATELY_ACTIVE","VERY_ACTIVE","EXTRA_ACTIVE"]},"goal":{"type":"string","enum":["LOSE_WEIGHT","MAINTAIN_WEIGHT","GAIN_WEIGHT","NOTHING"]},"macroTarget":{"type":"string","enum":["BALANCED","HIGH_PROTEIN","LOW_CARB","LOW_FAT","HIGH_FIBER"]},"dietaryPreference":{"type":"string","enum":["NONE","VEGETARIAN","VEGAN","KETO","PALEO","GLUTEN_FREE","DAIRY_FREE"]},"allergenExclusions":{"type":"array","items":{"type":"string"},"uniqueItems":true},"cuisinePreferences":{"type":"array","items":{"type":"string"},"uniqueItems":true},"notificationsEnabled":{"type":"boolean"},"mealRemindersEnabled":{"type":"boolean"},"gender":{"type":"string","enum":["MALE","FEMALE","OTHER"]},"currentWeight":{"type":"integer","format":"int32"},"macroResult":{"$ref":"#/components/schemas/MacroResult"},"currentWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"heightUnit":{"type":"string","enum":["CM","FT"]},"dateOfBirth":{"type":"string","format":"date"},"desiredGoal":{"type":"string","enum":["LOSE_WEIGHT","MAINTAIN_WEIGHT","GAIN_WEIGHT","NOTHING"]},"desiredWeight":{"type":"integer","format":"int32"},"desiredWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"country":{"type":"string"},"hearAboutUs":{"type":"string","enum":["FROM_INFLUENCER","INSTAGRAM","TIKTOK","YOUTUBE","APP_STORE_SEARCH","FRIEND_FAMILY","OTHER"]},"targetEvent":{"type":"string","enum":["VACATION","WEDDING","BIRTHDAY","PERSONAL_MILESTONE","NONE"]},"targetEventDate":{"type":"string","format":"date"},"goalPace":{"type":"string","enum":["SLOW","OPTIMAL","FAST"]},"biggestChallenge":{"type":"string","enum":["CONSISTENCY","CRAVINGS","MOTIVATION","EMOTIONAL_EATING","LACK_OF_KNOWLEDGE","NEED_EASIER_TOOL"]},"healthSyncSettings":{"$ref":"#/components/schemas/HealthSyncSettings"}}},"ImageUploadResponse":{"type":"object","properties":{"imageUrl":{"type":"string"}}},"FoodAnalysisDto":{"type":"object","properties":{"foodName":{"type":"string"},"description":{"type":"string"},"totalMacros":{"$ref":"#/components/schemas/MacroNutrientsDto"},"imageBase64":{"type":"string"},"measures":{"type":"array","items":{"$ref":"#/components/schemas/MeasureDto"}}}},"LogMealRequestDto":{"type":"object","properties":{"existingRecipeId":{"type":"string","format":"uuid"},"foodAnalysis":{"$ref":"#/components/schemas/FoodAnalysisDto"},"source":{"type":"string","enum":["SEARCH","AI_IMAGE","BARCODE","NUTRITION_LABEL","MANUAL","UNKNOWN"]},"mealType":{"type":"string","enum":["BREAKFAST","LUNCH","DINNER","SNACK"]},"servingMultiplier":{"type":"number","format":"double"},"loggedDate":{"type":"string","format":"date"},"notes":{"type":"string"}}},"MacroNutrientsDto":{"type":"object","properties":{"calories":{"type":"number","format":"double"},"protein":{"$ref":"#/components/schemas/QuantityDto"},"carbs":{"$ref":"#/components/schemas/QuantityDto"},"fat":{"$ref":"#/components/schemas/QuantityDto"},"fiber":{"$ref":"#/components/schemas/QuantityDto"}}},"MeasureDto":{"type":"object","properties":{"label":{"type":"string"},"weightGrams":{"type":"number","format":"double"}}},"QuantityDto":{"type":"object","properties":{"value":{"type":"number","format":"double"},"unit":{"type":"string"}}},"ConsumedMacrosDto":{"type":"object","properties":{"calories":{"type":"number","format":"double"},"proteinGrams":{"type":"number","format":"double"},"carbsGrams":{"type":"number","format":"double"},"fatGrams":{"type":"number","format":"double"},"fiberGrams":{"type":"number","format":"double"}}},"MealLogResponseDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"recipeId":{"type":"string","format":"uuid"},"foodName":{"type":"string"},"imageUrl":{"type":"string"},"foodSource":{"type":"string","enum":["SEARCH","AI_IMAGE","BARCODE","NUTRITION_LABEL","MANUAL","UNKNOWN"]},"foodAnalysis":{"$ref":"#/components/schemas/FoodAnalysisDto"},"mealType":{"type":"string","enum":["BREAKFAST","LUNCH","DINNER","SNACK"]},"loggedDate":{"type":"string","format":"date"},"loggedTime":{"type":"string"},"servingMultiplier":{"type":"number","format":"double"},"consumedMacros":{"$ref":"#/components/schemas/ConsumedMacrosDto"},"notes":{"type":"string"},"isFavorite":{"type":"boolean"}}},"WeightLogRequest":{"type":"object","properties":{"value":{"type":"number","minimum":1.0},"unit":{"type":"string","enum":["KG","POUNDS"]},"date":{"type":"string","format":"date"}},"required":["unit","value"]},"WeightEntry":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"value":{"type":"number"},"unit":{"type":"string","enum":["KG","POUNDS"]},"entryDate":{"type":"string","format":"date"}}},"ChangePasswordRequest":{"type":"object","properties":{"currentPassword":{"type":"string","minLength":1},"newPassword":{"type":"string","maxLength":2147483647,"minLength":8,"pattern":"^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!?]).*$"},"confirmPassword":{"type":"string","minLength":1}},"required":["confirmPassword","currentPassword","newPassword"]},"PasswordChangedResponse":{"type":"object","properties":{"message":{"type":"string"},"changedAt":{"type":"string","format":"date-time"},"timestamp":{"type":"string","format":"date-time"}}},"HealthSyncSettingsDto":{"type":"object","properties":{"readSteps":{"type":"boolean"},"readActiveCalories":{"type":"boolean"},"readWeight":{"type":"boolean"},"readHeartRate":{"type":"boolean"},"readSleep":{"type":"boolean"},"writeDietaryEnergy":{"type":"boolean"},"writeProtein":{"type":"boolean"},"writeCarbohydrate":{"type":"boolean"},"writeFat":{"type":"boolean"}}},"OnboardingSurveyRequest":{"type":"object","properties":{"hearAboutUs":{"type":"string","enum":["FROM_INFLUENCER","INSTAGRAM","TIKTOK","YOUTUBE","APP_STORE_SEARCH","FRIEND_FAMILY","OTHER"]},"referralCode":{"type":"string"},"desiredGoal":{"type":"string","enum":["LOSE_WEIGHT","MAINTAIN_WEIGHT","GAIN_WEIGHT","NOTHING"]},"gender":{"type":"string","enum":["MALE","FEMALE","OTHER"]},"dateOfBirth":{"type":"string","format":"date"},"height":{"type":"number"},"heightUnit":{"type":"string","enum":["CM","FT"]},"currentWeight":{"type":"integer","format":"int32"},"currentWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"activityLevel":{"type":"string","enum":["SEDENTARY","LIGHTLY_ACTIVE","MODERATELY_ACTIVE","VERY_ACTIVE","EXTRA_ACTIVE"]},"allergenExclusions":{"type":"array","items":{"type":"string"}},"targetEvent":{"type":"string","enum":["VACATION","WEDDING","BIRTHDAY","PERSONAL_MILESTONE","NONE"]},"targetEventDate":{"type":"string","format":"date"},"desiredWeight":{"type":"integer","format":"int32"},"desiredWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"goalPace":{"type":"string","enum":["SLOW","OPTIMAL","FAST"]},"biggestChallenge":{"type":"string","enum":["CONSISTENCY","CRAVINGS","MOTIVATION","EMOTIONAL_EATING","LACK_OF_KNOWLEDGE","NEED_EASIER_TOOL"]},"notificationsEnabled":{"type":"boolean"},"mealRemindersEnabled":{"type":"boolean"},"healthSyncSettings":{"$ref":"#/components/schemas/HealthSyncSettingsDto"},"timeZone":{"type":"string"},"countryCode":{"type":"string"}},"required":["activityLevel","currentWeight","currentWeightUnit","dateOfBirth","desiredGoal","desiredWeight","desiredWeightUnit","gender","goalPace","healthSyncSettings","height","heightUnit"]},"MacroSummary":{"type":"object","properties":{"dailyCalories":{"type":"number","format":"double"},"proteinGrams":{"type":"number","format":"double"},"carbsGrams":{"type":"number","format":"double"},"fatGrams":{"type":"number","format":"double"},"fiberGrams":{"type":"number","format":"double"}}},"OnboardingSurveyResponse":{"type":"object","properties":{"message":{"type":"string"},"macroResult":{"$ref":"#/components/schemas/MacroSummary"}}},"MessageResponse":{"type":"object","properties":{"message":{"type":"string"}}},"UserSubscriptionDto":{"type":"object","properties":{"status":{"type":"string","enum":["ACTIVE","EXPIRED","CANCELED","GRACE_PERIOD"]},"expiresAt":{"type":"string","format":"date-time"},"autoRenewing":{"type":"boolean"},"planName":{"type":"string"}}},"GoogleSubscriptionVerifyRequest":{"type":"object","properties":{"purchaseToken":{"type":"string","minLength":1},"productId":{"type":"string","minLength":1}},"required":["productId","purchaseToken"]},"AppleSubscriptionVerifyRequest":{"type":"object","properties":{"receiptData":{"type":"string","minLength":1}},"required":["receiptData"]},"ReferralApplyRequest":{"type":"object","properties":{"code":{"type":"string","minLength":1}},"required":["code"]},"IngredientDto":{"type":"object","properties":{"name":{"type":"string"},"quantity":{"type":"number","format":"double"},"unit":{"type":"string"},"macros":{"$ref":"#/components/schemas/MacroNutrientsDto"}}},"SuggestedFoodAnalysis":{"type":"object","properties":{"foodName":{"type":"string"},"description":{"type":"string"},"ingredients":{"type":"array","items":{"$ref":"#/components/schemas/IngredientDto"}},"totalMacros":{"$ref":"#/components/schemas/MacroNutrientsDto"},"recipeSteps":{"type":"array","items":{"type":"string"}}}},"MacroPreviewRequest":{"type":"object","properties":{"gender":{"type":"string","enum":["MALE","FEMALE","OTHER"]},"dateOfBirth":{"type":"string","format":"date"},"height":{"type":"number"},"heightUnit":{"type":"string","enum":["CM","FT"]},"currentWeight":{"type":"integer","format":"int32"},"currentWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"activityLevel":{"type":"string","enum":["SEDENTARY","LIGHTLY_ACTIVE","MODERATELY_ACTIVE","VERY_ACTIVE","EXTRA_ACTIVE"]},"desiredGoal":{"type":"string","enum":["LOSE_WEIGHT","MAINTAIN_WEIGHT","GAIN_WEIGHT","NOTHING"]},"desiredWeight":{"type":"integer","format":"int32"},"desiredWeightUnit":{"type":"string","enum":["KG","POUNDS"]},"goalPace":{"type":"string","enum":["SLOW","OPTIMAL","FAST"]},"macroTarget":{"type":"string","enum":["BALANCED","HIGH_PROTEIN","LOW_CARB","LOW_FAT","HIGH_FIBER"]},"targetEvent":{"type":"string","enum":["VACATION","WEDDING","BIRTHDAY","PERSONAL_MILESTONE","NONE"]},"targetEventDate":{"type":"string","format":"date"}},"required":["activityLevel","currentWeight","currentWeightUnit","dateOfBirth","desiredGoal","desiredWeight","desiredWeightUnit","gender","goalPace","height","heightUnit"]},"ProjectionPoint":{"type":"object","properties":{"label":{"type":"string"},"date":{"type":"string","format":"date"},"weight":{"type":"number"}}},"ProjectionResponse":{"type":"object","properties":{"bucket":{"type":"string"},"unit":{"type":"string"},"currentWeight":{"type":"number"},"targetWeight":{"type":"number"},"ratePerWeek":{"type":"number"},"projectedGoalDate":{"type":"string","format":"date"},"headline":{"type":"string"},"points":{"type":"array","items":{"$ref":"#/components/schemas/ProjectionPoint"}}}},"Goals":{"type":"object","properties":{"currentWeight":{"type":"number"},"targetWeight":{"type":"number"},"kgToGo":{"type":"number"},"weightUnit":{"type":"string"},"projectedGoalDate":{"type":"string","format":"date"},"headline":{"type":"string"}}},"MacroPreviewResponse":{"type":"object","properties":{"macroResult":{"$ref":"#/components/schemas/MacroSummary"},"goals":{"$ref":"#/components/schemas/Goals"}}},"ForgotPasswordRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1}},"required":["email"]},"RegisterRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":8,"pattern":"^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!?]).*$"},"firstName":{"type":"string","minLength":1},"lastName":{"type":"string"},"referralCode":{"type":"string"}},"required":["email","firstName","password"]},"AuthResponse":{"type":"object","properties":{"message":{"type":"string"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"userId":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"emailVerified":{"type":"boolean"},"profilePhoto":{"type":"string"}}},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string"},"device":{"$ref":"#/components/schemas/RegisterDeviceRequest"}},"required":["device"]},"RegisterDeviceRequest":{"type":"object","properties":{"timeZone":{"type":"string"},"deviceId":{"type":"string","minLength":1},"platform":{"type":"string","enum":["IOS","ANDROID","APPLE","GOOGLE"]},"pushToken":{"type":"string","minLength":1},"appVersion":{"type":"string","minLength":1}},"required":["appVersion","deviceId","platform","pushToken"]},"ResetPasswordRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"otp":{"type":"string","minLength":1,"pattern":"^[0-9]{6}$"},"newPassword":{"type":"string","maxLength":2147483647,"minLength":8,"pattern":"^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!?]).*$"},"confirmPassword":{"type":"string","minLength":1}},"required":["confirmPassword","email","newPassword","otp"]},"SocialLoginRequest":{"type":"object","properties":{"idToken":{"type":"string"},"device":{"$ref":"#/components/schemas/RegisterDeviceRequest"}},"required":["device"]},"LoginRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"LoginWithDeviceRequest":{"type":"object","properties":{"login":{"$ref":"#/components/schemas/LoginRequest"},"device":{"$ref":"#/components/schemas/RegisterDeviceRequest"}},"required":["device","login"]},"ChartPoint":{"type":"object","properties":{"label":{"type":"string"},"date":{"type":"string","format":"date"},"value":{"type":"number"}}},"Summary":{"type":"object","properties":{"lastWeekWeight":{"type":"number"},"currentWeight":{"type":"number"},"targetWeight":{"type":"number"},"unit":{"type":"string"}}},"WeightProgressResponse":{"type":"object","properties":{"filter":{"type":"string"},"unit":{"type":"string"},"chartData":{"type":"array","items":{"$ref":"#/components/schemas/ChartPoint"}},"summary":{"$ref":"#/components/schemas/Summary"}}},"MacroCompositionResponse":{"type":"object","properties":{"filter":{"type":"string"},"totalCalories":{"type":"number","format":"double"},"macros":{"$ref":"#/components/schemas/Macros"},"percentages":{"$ref":"#/components/schemas/Percentages"},"chartData":{"type":"array","items":{"$ref":"#/components/schemas/ChartPoint"}}}},"Macros":{"type":"object","properties":{"proteinGrams":{"type":"number","format":"double"},"carbsGrams":{"type":"number","format":"double"},"fatGrams":{"type":"number","format":"double"}}},"Percentages":{"type":"object","properties":{"protein":{"type":"integer","format":"int32"},"carbs":{"type":"integer","format":"int32"},"fat":{"type":"integer","format":"int32"}}},"EnergyBalanceResponse":{"type":"object","properties":{"filter":{"type":"string"},"chartData":{"type":"array","items":{"$ref":"#/components/schemas/ChartPoint"}},"summary":{"$ref":"#/components/schemas/Summary"}}},"CalorieTrackerResponse":{"type":"object","properties":{"filter":{"type":"string"},"chartData":{"type":"array","items":{"$ref":"#/components/schemas/ChartPoint"}}}},"PageMetadata":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"number":{"type":"integer","format":"int64"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int64"}}},"PagedModelUserNotification":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/UserNotification"}},"page":{"$ref":"#/components/schemas/PageMetadata"}}},"UserNotification":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["MEAL_REMINDER","RECIPE_SUGGESTION","GOAL_ACHIEVEMENT","SYSTEM_UPDATE","RECIPE_SAVED","WEEKLY_SUMMARY","WEIGH_IN_REMINDER"]},"title":{"type":"string"},"message":{"type":"string"},"readAt":{"type":"string","format":"date-time"},"actionUrl":{"type":"string"},"read":{"type":"boolean"}}},"UserSubscriptionStatusResponse":{"type":"object","properties":{"isPremium":{"type":"boolean"},"referralCode":{"type":"string"},"premiumExpiresAt":{"type":"string","format":"date-time"},"firstPromoterReferralCode":{"type":"string"},"firstPromoterReferralLink":{"type":"string"},"firstPromoterAuthToken":{"type":"string"}}},"PricingResponse":{"type":"object","properties":{"countryCode":{"type":"string"},"currency":{"type":"string"},"monthlyPrice":{"type":"number"},"yearlyPrice":{"type":"number"},"referralReward":{"type":"number"},"hasWinbackDiscount":{"type":"boolean"},"winbackDiscountPercentage":{"type":"number","format":"double"},"monthlyPriceAfterDiscount":{"type":"number"},"yearlyPriceAfterDiscount":{"type":"number"}}},"ReferralHistoryResponse":{"type":"object","properties":{"referralId":{"type":"string"},"refereeEmail":{"type":"string"},"codeUsed":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED","FRAUD"]},"rewardAmount":{"type":"number","format":"double"},"rewardCurrency":{"type":"string"},"isPaid":{"type":"boolean"},"paidAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"ReferralEarningsResponse":{"type":"object","properties":{"totalEarningsUsd":{"type":"number"},"totalEarningsNgn":{"type":"number"},"totalReferrals":{"type":"integer","format":"int32"},"pendingEarningsUsd":{"type":"number"},"pendingEarningsNgn":{"type":"number"},"lifetimeEarningsUsd":{"type":"number"},"lifetimeEarningsNgn":{"type":"number"},"lastPayoutAt":{"type":"string"}}},"SubscriptionPlanDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"priceDisplay":{"type":"string"},"description":{"type":"string"},"platform":{"type":"string"},"countryCode":{"type":"string"},"productId":{"type":"string"}}},"AverageMacrosDto":{"type":"object","properties":{"avgCalories":{"type":"number","format":"double"},"avgProteinGrams":{"type":"number","format":"double"},"avgCarbsGrams":{"type":"number","format":"double"},"avgFatGrams":{"type":"number","format":"double"},"avgFiberGrams":{"type":"number","format":"double"},"avgCaloriesPercentage":{"type":"number","format":"double"},"avgProteinPercentage":{"type":"number","format":"double"},"avgCarbsPercentage":{"type":"number","format":"double"},"avgFatPercentage":{"type":"number","format":"double"},"avgFiberPercentage":{"type":"number","format":"double"}}},"DailyTrendDto":{"type":"object","properties":{"date":{"type":"string","format":"date"},"actuals":{"$ref":"#/components/schemas/MacroActualDto"},"performance":{"$ref":"#/components/schemas/MacroPerformanceDto"},"mealsLogged":{"type":"integer","format":"int32"},"basicGoalMet":{"type":"boolean"},"macroGoalMet":{"type":"boolean"}}},"MacroActualDto":{"type":"object","properties":{"calories":{"type":"number","format":"double"},"proteinGrams":{"type":"number","format":"double"},"carbsGrams":{"type":"number","format":"double"},"fatGrams":{"type":"number","format":"double"},"fiberGrams":{"type":"number","format":"double"}}},"MacroPerformanceDto":{"type":"object","properties":{"caloriesPercentage":{"type":"number","format":"double"},"proteinPercentage":{"type":"number","format":"double"},"carbsPercentage":{"type":"number","format":"double"},"fatPercentage":{"type":"number","format":"double"},"fiberPercentage":{"type":"number","format":"double"}}},"WeeklyTrendDto":{"type":"object","properties":{"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"dailyTrends":{"type":"array","items":{"$ref":"#/components/schemas/DailyTrendDto"}},"averages":{"$ref":"#/components/schemas/AverageMacrosDto"}}},"StreakInfoDto":{"type":"object","properties":{"currentBasicStreak":{"type":"integer","format":"int32"},"longestBasicStreak":{"type":"integer","format":"int32"},"currentMacroStreak":{"type":"integer","format":"int32"},"longestMacroStreak":{"type":"integer","format":"int32"},"lastLoggedDate":{"type":"string","format":"date"},"totalDaysLogged":{"type":"integer","format":"int32"},"macrosGoalMet":{"type":"integer","format":"int32"}}},"MacroInfoDto":{"type":"object","properties":{"calories":{"type":"number","format":"double"},"proteinGrams":{"type":"number","format":"double"},"carbsGrams":{"type":"number","format":"double"},"fatGrams":{"type":"number","format":"double"},"fiberGrams":{"type":"number","format":"double"}}},"RecipeResponseDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"foodName":{"type":"string"},"description":{"type":"string"},"macros":{"$ref":"#/components/schemas/MacroInfoDto"},"imageUrl":{"type":"string"},"usageCount":{"type":"integer","format":"int32"},"isFavorite":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"PagedModelMealLogResponseDto":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/MealLogResponseDto"}},"page":{"$ref":"#/components/schemas/PageMetadata"}}},"FavoriteRecipeResponseDto":{"type":"object","properties":{"recipeId":{"type":"string","format":"uuid"},"foodName":{"type":"string"},"description":{"type":"string"},"macros":{"$ref":"#/components/schemas/MacroInfoDto"},"imageUrl":{"type":"string"},"usageCount":{"type":"integer","format":"int32"},"favoritedAt":{"type":"string","format":"date-time"},"lastLoggedAt":{"type":"string","format":"date-time"}}},"DashboardResponseDto":{"type":"object","properties":{"date":{"type":"string","format":"date"},"targets":{"$ref":"#/components/schemas/MacroTargetDto"},"actuals":{"$ref":"#/components/schemas/MacroActualDto"},"performance":{"$ref":"#/components/schemas/MacroPerformanceDto"},"mealsToday":{"type":"array","items":{"$ref":"#/components/schemas/MealLogResponseDto"}},"streaks":{"$ref":"#/components/schemas/StreakInfoDto"},"basicGoalMet":{"type":"boolean"},"macroGoalMet":{"type":"boolean"}}},"MacroTargetDto":{"type":"object","properties":{"calories":{"type":"number","format":"double"},"proteinGrams":{"type":"number","format":"double"},"carbsGrams":{"type":"number","format":"double"},"fatGrams":{"type":"number","format":"double"},"fiberGrams":{"type":"number","format":"double"}}},"DeleteAccountRequest":{"type":"object","properties":{"password":{"type":"string","minLength":1}},"required":["password"]}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}